<!DOCTYPE html>
<html>
    <head>
        <title>Willma | Aerial Drone Video & Photography Specialist</title>
        <link rel="icon" type="image/png" href="https://dl.dropboxusercontent.com/s/p7igj6x37uxnnik/AM%20logo%20bigger%20favicon-96x96.png?dl=0">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-md navbar-light">
            <a class="navbar-brand mr-0" href="/">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                 width="40.000000pt" height="40.000000pt" viewBox="0 0 400.000000 400.000000"
                 preserveAspectRatio="xMidYMid meet">
                <metadata>
                Created by potrace 1.15, written by Peter Selinger 2001-2017
                </metadata>
                <g transform="translate(0.000000,400.000000) scale(0.100000,-0.100000)"
                fill="#ffffff" stroke="none">
                <path d="M1785 3994 c-293 -42 -466 -94 -705 -214 -565 -284 -975 -861 -1064
                -1499 -21 -147 -21 -430 0 -570 62 -426 243 -792 544 -1104 297 -308 645 -497
                1075 -584 132 -26 611 -26 735 0 130 28 226 55 330 93 661 244 1141 816 1277
                1524 26 139 26 583 -1 720 -84 432 -271 778 -582 1080 -281 273 -610 446 -999
                526 -115 23 -157 27 -355 29 -124 2 -238 1 -255 -1z m406 -135 c636 -64 1200
                -457 1487 -1034 134 -271 192 -520 193 -825 0 -237 -30 -414 -108 -633 -244
                -690 -911 -1194 -1634 -1235 -411 -23 -768 66 -1116 279 -399 244 -711 673
                -828 1136 -248 989 363 2010 1355 2263 222 57 428 72 651 49z"/>
                <path d="M1697 3332 c-13 -14 -899 -2347 -909 -2393 -4 -14 112 -63 122 -52 4
                4 191 497 416 1095 224 598 412 1084 416 1080 3 -4 47 -116 97 -248 l90 -241
                -310 -823 c-170 -452 -309 -824 -307 -825 4 -3 118 -45 122 -45 2 0 27 63 56
                140 l53 140 460 -2 460 -3 43 -115 c24 -63 48 -125 53 -137 l10 -22 61 21 c33
                12 60 26 60 30 0 5 -27 80 -60 166 -33 87 -60 165 -60 173 0 8 -4 19 -9 25
                -12 12 -481 1257 -481 1276 0 8 42 126 93 261 l93 246 413 -1097 c227 -603
                414 -1098 415 -1100 2 -1 31 8 65 20 45 16 61 27 58 38 -14 49 -900 2387 -909
                2397 -13 17 -59 17 -81 1 -9 -7 -63 -139 -121 -293 -57 -154 -107 -273 -110
                -265 -3 8 -50 133 -104 277 -54 144 -105 269 -112 278 -17 20 -63 19 -83 -3z
                m512 -1502 l198 -525 -400 -3 c-220 -1 -402 0 -404 2 -2 2 81 230 186 507 225
                598 212 567 217 554 3 -5 94 -246 203 -535z"/>
                </g>
                </svg>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item <%= typeof page !== "undefined" && page === "landing" ? "active" : "" %>">
                        <a class="nav-link" href="/index">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gallery</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                          <a class="dropdown-item" href="/photo">Photo Gallery</a>
                          <a class="dropdown-item" href="/video">Video Gallery</a>
                          <a class="dropdown-item" href="/drone">Drone Gallery</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <video autoplay loop muted playsinline poster="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/22007400_10155748807467436_49092155351344405_n.jpg?oh=0205f19d5bc0c73acc830cb3b37b622e&oe=5ADCFEF1" id="background">
            <source src="https://dl.dropboxusercontent.com/s/1bz03yfxv1ncg0v/Will%20Drone%20Vid.mp4?dl=0" type="video/mp4">
        </video>
        
	    <div id="landingHeader">
    		<a id="landingButton" href="/index" >
    		    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" 
    		        width="200.000000pt" height="200.000000pt" viewBox="0 0 400.000000 400.000000"
    		        preserveAspectRatio="xMidYMid meet">
                    <g id="amlogo" transform="translate(0.000000,400.000000) scale(0.100000,-0.100000)"
                    fill="#ffffff" stroke="none">
                    <path d="M1830 3194 c-195 -36 -232 -46 -365 -107 -391 -178 -667 -533 -739
                    -952 -21 -117 -21 -333 0 -450 50 -292 206 -566 430 -757 172 -146 356 -236
                    584 -285 119 -25 401 -25 520 0 258 55 473 171 653 351 248 249 377 561 377
                    916 0 201 -30 348 -110 531 -156 360 -506 646 -900 734 -73 16 -391 30 -450
                    19z m380 -100 c466 -83 834 -427 957 -893 35 -130 43 -363 18 -496 -42 -226
                    -136 -421 -282 -587 -488 -550 -1328 -547 -1812 7 -142 162 -235 358 -276 580
                    -25 133 -17 366 18 496 163 619 756 1003 1377 893z"/>
                    <path d="M1782 2733 c-24 -59 -560 -1483 -564 -1501 -4 -19 71 -49 81 -33 4 7
                    124 322 267 701 142 379 261 690 264 690 3 0 31 -70 62 -156 l58 -155 -195
                    -517 c-107 -284 -195 -523 -197 -530 -2 -8 14 -20 36 -29 46 -19 44 -21 83 90
                    l28 77 295 0 295 0 28 -77 c39 -109 37 -108 81 -92 20 7 36 20 36 28 0 8 -88
                    248 -195 533 l-195 517 58 155 c31 86 59 156 62 156 3 0 121 -310 264 -689
                    142 -379 262 -695 266 -701 10 -17 80 9 80 29 0 14 -517 1395 -562 1504 -17
                    40 -25 47 -48 47 -31 0 -33 -3 -115 -222 -27 -71 -52 -128 -55 -128 -4 0 -29
                    57 -55 128 -81 217 -84 222 -115 222 -23 0 -31 -7 -48 -47z m349 -931 l126
                    -337 -129 -3 c-70 -1 -186 -1 -256 0 l-129 3 126 337 c69 186 128 338 131 338
                    3 0 62 -152 131 -338z"/>
                    </g>
                </svg>
    		</a>
        </div>
	    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>