navbar {
    background-color: transparent;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    padding: 0;
    margin: 10px;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active {
    color: white;
    border-bottom: 2px solid white;
    padding: 0;
    margin: 10px;
}

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
h1 {
  color: white;
}

.dropdown-menu {
    background-color: transparent;
    border: none;
}

.navbar-light .navbar-nav .show>.nav-link{
    background-color: transparent;
    border-bottom: 2px solid white;
    padding: 0;
    margin: 10px;
    color: white;
}

.dropdown-item {
    background-color: transparent;
    color: white;
    padding: 0;
    margin: 10px;
}

.dropdown-item:hover {
    background-color: transparent;
    color: white;
    border-bottom: 2px solid white;
    padding: 0;
    margin: 10px;
    width: fit-content;
}

.btn {
    color: white;
}

.btn:hover {
        border-bottom: 1px solid white;
        width: fit-content;
}

@media (min-aspect-ratio: 16/9) {
  #background {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #background {
    width: auto;
    height: 100%;
  }
}

#landingHeader {
    text-align: center;
}

#landingButton {
    position: absolute;
    top: 50%;
    background-color: transparent;
    color: white;
}
#landingButton:hover {
    position: absolute;
    top: 50%;
    color: white;
    margin: 0;
}
