.navbar-light .navbar-nav .nav-link {

    padding: 0;
    margin: 10px;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active {

    border-bottom: 2px solid;
    padding: 0;
    margin: 10px;
}

.dropdown-menu {
    background-color: transparent;
    border: none;
}

.navbar-light .navbar-nav .show>.nav-link{
    background-color: transparent;
    border-bottom: 2px solid;
    padding: 0;
    margin: 10px;

}

.dropdown-item {
    background-color: transparent;
    padding: 0;
    margin: 10px;
}

.dropdown-item:hover {
    background-color: transparent;
    border-bottom: 2px solid;
    padding: 0;
    margin: 10px;
    width: fit-content;
}

/**************************/

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top:-40%;
  min-width: 100%;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.btn-primary {
  background-color: #7C7C7D;
  border: none;
}

.btn-primary:hover {
  background-color: white;
  color: #7C7C7D;
  border: none;
}

.socials {
  max-height: 30px;
  max-width: 30px;
}

footer {
  background-color: #7C7C7D;
  padding: 1rem;
  color: white;
}

footer div{
  text-align: center;
}

footer a{
  color: white;
}

footer a:hover{
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}